@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="text-center">
        <h1 class="display-4">Welcome to ETFPay!</h1>
         <h2 class="display-6">Register or login to get started</h2>
    </div>
</div>