@{
    ViewData["Title"] = "Home";
}

<style>
    .home-welcome {
        min-height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-welcome h1 {
        color: #1f6b60;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
    }
</style>

<div class="home-welcome">
    <h1>Welcome, Employee</h1>
</div>
