@model ETFPay.Models.Predlozak

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Predlozak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Primaoc" class="control-label"></label>
                <input asp-for="Primaoc" class="form-control" />
                <span asp-validation-for="Primaoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SvrhaUplate" class="control-label"></label>
                <input asp-for="SvrhaUplate" class="form-control" />
                <span asp-validation-for="SvrhaUplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojRacuna" class="control-label"></label>
                <input asp-for="BrojRacuna" class="form-control" />
                <span asp-validation-for="BrojRacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pretplata" /> @Html.DisplayNameFor(model => model.Pretplata)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-control"></select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
